
@{
    ViewData["Title"] = "Manager Options";
}

<h2>Manager Options</h2>


@Html.ActionLink("Display All Users", "DisplayAllUsers") <br />
<p></p>
@Html.ActionLink("Display Location History", "SearchLocation") <br />
<p></p>
@Html.ActionLink("Display User History", "SearchUser") <br />
<p></p>
@Html.ActionLink("Display Order History By Earliest", "DisplayOrderHistoryByEarliest") <br />
<p></p>
@Html.ActionLink("Display Order History By Latest", "DisplayOrderHistoryByLatest") <br />
