@model Project1.WebApp.Models.OrderW

@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Details</h2>

<h3>Customer Name: @Html.DisplayFor(modelItem => Model.User.FirstName) @Html.DisplayFor(modelItem => Model.User.LastName)</h3>
<h3>Order Time: @Html.DisplayFor(modelItem => Model.TimeOfOrder) </h3>
<h3>Price: $@Html.DisplayFor(modelItem => Model.Price) </h3>
<h4>Pizzas in the order</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Size
            </th>
            <th>
                Sauce
            </th>
            <th>
                Cheese
            </th>
            <th>
                Extra Cheese
            </th>
            <th>
                Pepperoni
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pizzas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sauce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cheese)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraCheese)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pepperoni)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back to Order History", "UserHistory", new { id = Model.User.Id })