@model IEnumerable<Project1.WebApp.Models.OrderW>

@{
    ViewData["Title"] = "Your Order History";
}

@*<h2>@TempData["FirstName"] @TempData["LastName"] Order History</h2>*@
<h2>Your Order History</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfOrder)
            </td>
            <td>
                @Html.ActionLink("Details", "OrderDetails", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

@Html.ActionLink("Back to User Options", "UserOptions", new { newOrder = TempData["Id"] + "newOrder" })
